    <!DOCTYPE html>
<html>
<body style=" ">


<div id="container" style="width:100%">
<!-- <div id="stats">
STATS: Total: %(totTime).2f Python: %(pyTime).2f DB: %(dbTime).2f Queries: %(queries)d

</div> -->

<div id="header" style="background-color:#CC99FF;"><center><img src="/media/tnlogo.jpeg">
<h1 style="margin-bottom:0;">STUDENT DETAILS</h1></center></div>

<div id="menu" style="background-color:#FFCCFF;height:500px;width:150px;float:left;">
<b>Main Menu</b><br />
      <a href='/entry'>Enter student details</a><br> <br><br>
	  <a href='/view'>View student details</a><br><br> <br>
	  <a href='/edit'>Edit student details</a><br> <br><br>
	  
	  </div>
{% block content %}
<div id="content" style="background-color:white;height:500px;float:left;">
information about us</div>
{% endblock %}
<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
Copyright © magesh.com</div>

</div>

</body>
</html> 

