{% extends 'base.html' %}
{% block content %}
<table align="=center" width=100% >
<tr>
<td>
<table bgcolor="543434" border="1" align="center" cellspacing="5" cellpadding="5">
<form action='' method="POST">
{% csrf_token %}

<tr><td colspan="3" align="center"><h4><u>USER LOGIN</u></h4></td></tr>
<tr>

<td>User Name</td><td>:</td><td><input type="text" name="txtuname"></td></tr>
<tr><td>Password</td><td>:</td><td><input type="password" name="txtpwd"></td></tr>
<tr><td colspan="3" align="center"><input type="submit" value="Login"></td></tr>
</form>

</table>
</table>
{% endblock %}