
<!DOCTYPE html>
 <html lang="en"> 

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <title>EMIS home page</title>
     <link rel="stylesheet" href="/site_media/static/css/style.css">
<style type="text/css">
.test{background-color:Darkblue;}
</style>
</head>

<body>
{% csrf_token %}
<div class="main_body">
<center>
        <div class="test" id="image" style="overflow: hidden; width:100%;">
<img src="/site_media/media/emis.png"> <h1 style="color:yellow; height:10px;"> </h1>
<h1 style="color:yellow; font-size: 25px; height: 25px;" > Educational Management Information System </h1></div>


<div id="menu" style="font-size:22px; height: 76px;float:left;">
<b>
<a href="{% url 'entry' %}">Student Entry</a><br>
<a href="/view">Student View</a><br>
<a href="http://www.agaram.tn.gov.in/deepinfosys/">Teacher Profile</a><br>
<a href="attendance">Teacher Attendance</a><br>
<a href="http://www.tn.gov.in/district_view">Districts</a><br>
<a href="http://www.tnrd.gov.in/databases/Blocks.pdf">Blocks</a><br>
<a href="school">Schools</a><br>


<a href="/logout"><b><input type="button" style="background-color:yellow" value="Log out or Signout">
</div>

<div id="photo" style="font-size:30px; height: 76px;float:right;">
<img src="/site_media/media/amma.jpg" >
</div>

</body>
</html>