<!DOCTYPE html>
<html>
<head>
	<title>EMIS</title>
</head>

<center><img src="/site_media/media/emis.png"></center>

 <h1><center> New child Entry </center></h1>



	<title> EMIS-new entry</title>
</head>

<form action='{% url "delete" pk=pk1 %}' method ='POST' >
{% csrf_token %}
<body bgcolor="yellow">


"ARE YOU SURE TO DELETE THIS FILE"
<input type="submit" value="delete"/>



<br>
<br>
<br>

<a href="/home"><input type="button" style="background-color:blue"value="GO TO HOME PAGE"></li>
</form>


</body>
</html>