<!DOCTYPE html>
<html>
<head>
	<title>login</title>
</head>

<center><img src="/site_media/media/emis.png"></center>
	<h1><center> EMIS LOGIN</center></h1>

<body bgcolor="#1569C7">
<form action="" method="POST">{% csrf_token %}
<center>
<b>Username::<input type="text" name="username"/><br>
<b>Password::<input type="password" name="password"/><br>
<input type="submit" value="submit"/><br>
<br>
<br>
<a href="/signup"><input type="button" style="background-color:yellow" value="New User Register Here">
</center>
</body>
</form>
</html>