{% extends 'base.html' %}
{% block content %}
<!-- <img src="site_media/media/{{a.photo}}" height="100" width="10" ></img>
 -->
<center>
<h3><b>UPDATE STUDENT DETAILS</b></h3>
<form  action ='' method="POST">{% csrf_token %}

STUDENT ID : <input type='text' name='studentid' value={{ a.studentid }}><br>

STUDENT NAME : <input type='text' name='studnetname' value={{a.studnetname}}><br>
FATHERSNAME:<input type="text" name='fathername' value={{a.fathername}}><br>
SCHOOLNAME:<input type="text" name='schoolname' value={{a.schoolname}}><br>
<!-- <select name="classes">
<option value='{{a.classes}}' selected>{{a.classes}}</option>
</select> -->
CLASS:<input type="text" name='classes' value='{{a.classes}}'><br>
COMPUTER:<input type="text" name='computer' value={{a.computer}}><br>
PHYSICS:<input type="text" name='physics' value={{a.physics}}><br>
CHEMISTRY:<input type="text" name='chemistry' value={{a.chemistry}}><br>
MATHS:<input type="text" name='maths' value={{a.maths}}><br>
TOTAL:<input type="text" name='total' value={{a.total}}><br>
<input type="submit" name="save" value="save" />
 

</form></center>

{% endblock %}