{% extends 'base.html' %}
{% block content %}

<h3>Student Details : </h3>
<table border="1" style="width:100%">
<tr>


<th>ID</th>
<th>NAME</th>
<th>FATHER'S NAME</th>
 <th>SCHOOL NAME</th>
<th>CLASS</th>
<th>COMPUTER</th>
<th>PHYSICS</th><th>CHEMISTRY</th><th>MATHS</th><th>TOTAL</th><th colspan="2">Click Me</th>
</tr>
{% if pk %}
<tr>
<td><b>{{i.studentid}} </b> </td>
<td><b>{{i.studnetname}} </b> </td>
<td><b>{{i.fathername}} </b> </td>
<td><b>{{i.schoolname}} </b> </td>
<td><b>{{i.classes}} </b> </td>
<td><b>{{i.computer}} </b> </td>
<td><b>{{i.physics}} </b> </td>
<td><b>{{i.chemistry}} </b> </td>
<td><b>{{i.maths}} </b> </td>
<td><b>{{i.total}} </b> </td>
</tr>
{% else %}

	{% for i in b %}
	<tr>
	<td><b>{{i.studentid}} </b> </td>
	<td><b>{{i.studnetname}} </b> </td>
	<td><b>{{i.fathername}} </b> </td>
	<td><b>{{i.schoolname}} </b> </td>
	<td><b>{{i.classes}} </b> </td>
	<td><b>{{i.computer}} </b> </td>
	<td><b>{{i.physics}} </b> </td>
	<td><b>{{i.chemistry}} </b> </td>
	<td><b>{{i.maths}} </b> </td>
	<td><b>{{i.total}} </b> </td>
	
	<td><a href='{% url "edit_stu" pk=i.studentid %}'>Edit</a></td>
	<td><a href='{% url "del_stu" pk=i.studentid %}'>Delete</a></td></tr>
	{% endfor %}
{% endif %}
</table>

 
{% endblock %}

           
    
       
         
    
             
   