    <!DOCTYPE html>
<html>
<body style=" ">


<div id="container" style="width:100%">

<div id="header" style="background-color:#CC99FF;"><img src="/site_media/media/tnlogo.jpeg">
<h1 style="margin-bottom:0;">STUDENT DETAILS</h1></div>

<div id="menu" style="background-color:#FFCCFF;height:500px;width:250px;float:left;">
<b>Main Menu</b><br />
      <a href='/new_stu'>Enter student details</a><br>
	  <a href='/view'>View student details</a><br>
	  <a href='/edit'>Edit student details</a>
	  </div>
{% block content %}
<div id="content" style="background-color:white;height:500px;width:400px;float:left;">
information about us</div>
{% endblock %}
<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
Copyright © tnemis.com</div>

</div>

</body>
</html> 

