<html>
<head>
</head>
<body>
{% if pk %}
<td>{{student_list.uid}}</td> <br>
	<td>{{student_list.name}}</td> <br>
	<td>{{student_list.gender}}</td> <br>
	<td>{{student_list.mother_tongue}}</td><br>
	<td>{{student_list.nationality}}</td><br>
{% else %}
	{% for data in student_list %}
	<td>{{data.uid}}</td> <br>
	<td>{{data.name}}</td> <br>
	<td>{{data.gender}}</td> <br>
	<td>{{data.mother_tongue}}</td><br>
	<td>{{data.nationality}}</td><br>
<a href='{% url "students_detail_update" pk=data.uid %}'>Edit</a>
	{% endfor %}
	{% endif %}
	</body>
</html>