{% extends 'home.html' %}
{% block content %}<center>
<h3>Student Details : </h3></center>
<table border="1" align="center">
<tr>
<th>UNIQUE ID</th>
<th>NAME</th>
<th>CLASS</th>
</tr>
{% if pk %}
<tr align="center">
<td>{{i.sid}}</td>
<td>{{i.sname}} </td>
<td>{{i.sclass}}</td>
</tr>
{% else %}

{% for i in b %}
<tr align="center">
<td>{{i.sid}}</td>
<td><a href='{% url "edit_stu2" pk=i.sid %}'>{{i.sname}}</a> </td>
<td>{{i.sclass}}</td>
</tr>
{% endfor %}
{% endif %}
</table>

 
{% endblock %}

           
    
       
         
    
             
   