{% extends 'home.html' %}
{% block content %}
<!-- <img src="site_media/media/{{a.photo}}" height="100" width="10" ></img>
 -->
<center>

<form  action ='calc1' method="POST">{% csrf_token %}
District:<input type='text' name='schoolname2' value={{ schoolrec.Districtname }}>
Block:<input type='text' name='blockname2' value={{ schoolrec.Blockname }}>

SchoolCode:<input type='text' name='schoolname1' value={{ schoolrec.UDISEcode }}>
School:<input type='text' name='schoolname' value={{ schoolrec.Schoolname }}>
Management:<input type='text' name='mgntname' value={{schoolrec.Management}}>
Category:<input type='text' name='cater' value={{schoolrec.Category}}>
<table>
<tr><td>
Girls Strength:<input type='number' name='gstr' value={{schoolrec.Girlsstrength}} max='99' min='0' size=2></td><td>

Boys Strength:<input type='number' name='bstr' value={{schoolrec.Boysstrength}}  max='99' min='0'></td></tr><tr><td>

Girls Toilet:<input type='number' name='gtoi' value={{schoolrec.Girlstoilet}} max='99' min='0'></td><td>Boys Toilet:<input type='number' name='btoi' value={{schoolrec.Boystoilet}}></td></tr><tr><td>
Girls Working:<input type='number' name='gwork' value={{schoolrec.Girlsworking}} max='99' min='0'></td><td>
Boys Working:<input type='number' name='bwork' value={{schoolrec.Boysworking}} max='99' min='0'></td></tr></table>
<input type="submit" name="Show" value="save" />
 	
</form></center>

{% endblock %}